body {
	background-color: var(--very-dark-blue);
	display: grid;
	min-height: 100vh;
	padding: 20px;
	place-items: center;
}

.card {
	background-color: var(--dark-blue);
	border-radius: 16px;
	max-width: 335px;
	width: 100%;
}

.card__rate-page {
	padding: 20px;
}

.card__star-icon {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 50%;
	height: 45px;
	margin-bottom: 16px;
	padding: 14px;
	width: 45px;
}

.card__rate-question {
	color: var(--white);
	font: 400 25px var(--overpass);
	margin-bottom: 14px;
}

.card__rate-text {
	color: var(--light-grey);
	font: 400 var(--paragraph) var(--overpass);
	line-height: 1.5;
	margin-bottom: 26px;
}

.card__rate-options-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 24px;
	row-gap: 14px;
}

.card__rate-option {
	background-color: rgba(255, 255, 255, 0.075);
	border-radius: 50%;
	color: var(--light-grey);
	font: 400 var(--paragraph) var(--overpass);
	height: 45px;
	padding: 14px;
	text-align: center;
	width: 45px;
}

.card__submit-rate-btn {
	background-color: var(--orange);
	border: none;
	border-radius: 32px;
	color: var(--white);
	cursor: pointer;
	height: 45px;
	margin-bottom: 16px;
	outline: none;
	width: 100%;
}

/*
body {
	background-color: var(--very-dark-blue);
	display: grid;
	min-height: 100vh;
	padding: 20px;
	place-items: center;
	width: 100vw;
}

.rate-card {
	background-color: var(--dark-blue);
	border-radius: 18px;
	max-width: 380px;
	padding: 20px;
	width: 100%;
}

.card-content-area {
	max-width: 365px;
}

.card-star-icon {
	background-color: rgba(149, 158, 172, 0.075);
	border-radius: 50%;
	margin-bottom: 14px;
	padding: 14px;
}

.card-rate-question {
	color: var(--white);
	font: 400 var(--title-font-size) var(--overpass-font-family);
	margin-bottom: 14px;
}

.card-rate-text {
	color: var(--light-grey);
	font: 400 var(--paragraph-font-size) var(--overpass-font-family);
	margin-bottom: 28px;
}

.rates-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 24px;
	width: 100%;
}

.rate-btn {
	background-color: rgba(124, 135, 152, 0.15);
	border-radius: 50%;
	color: var(--light-grey);
	cursor: pointer;
	font: 400 var(--paragraph-font-size) var(--overpass-font-family);
	height: 45px;
	padding: 14px;
	text-align: center;
	width: 45px;
}

.rate-submit {
	background-color: var(--orange);
	border: none;
	border-radius: 26px;
	color: var(--white);
	cursor: pointer;
	height: 45px;
	margin-bottom: 14px;
	outline: none;
	text-align: center;
	width: 100%;
}

.rate-btn:hover {
	background-color: var(--light-grey);
	color: var(--white);
}

.rate-submit:hover {
	background-color: var(--white);
	color: var(--orange);
}

@media (min-width: 768px) {
	.rate-card {
		border-radius: 24px;
		padding: 30px;
	}

	.card-star-icon {
		margin-bottom: 20px;
	}

	.rates-box {
		margin-bottom: 28px;
	}

	.rate-submit {
		margin-bottom: 0;
	}
} */
