body {
	background-color: var(--very-dark-blue);
	display: grid;
	min-height: 100vh;
	padding: var(--md-spacing);
	place-items: center;
	width: 100vw;
}

.rate-card {
	background-color: var(--dark-blue);
	border-radius: var(--md-border-radius);
	padding: var(--md-spacing);
	width: 100%;
}

.card-star-icon {
	background-color: rgba(149, 158, 172, 0.075);
	border-radius: 50%;
	margin-bottom: var(--sm-spacing);
	padding: var(--sm-spacing);
}

.card-rate-question {
	color: var(--white);
	font: 400 var(--title-font-size) var(--overpass-font-family);
	margin-bottom: var(--sm-spacing);
}

.card-rate-text {
	color: var(--light-grey);
	font: 400 var(--paragraph-font-size) var(--overpass-font-family);
	margin-bottom: calc(var(--sm-spacing) * 2);
}

.rates-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.rate-btn {
	background-color: rgba(124, 135, 152, 0.15);
	border-radius: 50%;
	color: var(--light-grey);
	cursor: pointer;
	font: 400 var(--paragraph-font-size) var(--overpass-font-family);
	height: 45px;
	margin-bottom: calc(var(--sm-spacing) * 2);
	padding: var(--sm-spacing);
	text-align: center;
	width: 45px;
}

.rate-submit {
	background-color: var(--orange);
	border: none;
	border-radius: var(--md-border-radius);
	color: var(--white);
	cursor: pointer;
	height: 45px;
	margin-bottom: var(--sm-spacing);
	outline: none;
	text-align: center;
	width: 100%;
}

.rate-btn:hover {
	background-color: var(--light-grey);
	color: var(--white);
}

.rate-submit:hover {
	background-color: var(--white);
	color: var(--orange);
}
