body {
	background-color: var(--very-dark-blue);
	display: grid;
	min-height: 100vh;
	padding: 20px;
	place-items: center;
}

.card {
	background-color: var(--dark-blue);
	border-radius: 16px;
	max-width: 335px;
	width: 100%;
}

.card__rate-page {
	padding: 20px;
}

.card__star-icon {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 50%;
	height: 45px;
	margin-bottom: 16px;
	padding: 14px;
	width: 45px;
}

.card__rate-question {
	color: var(--white);
	font: 400 25px var(--overpass);
	margin-bottom: 14px;
}

.card__rate-text {
	color: var(--light-grey);
	font: 400 var(--paragraph) var(--overpass);
	line-height: 1.5;
	margin-bottom: 26px;
}

.card__rate-options-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 22px;
	row-gap: 14px;
}

.card__rate-option {
	background-color: rgba(255, 255, 255, 0.075);
	border-radius: 50%;
	color: var(--light-grey);
	cursor: pointer;
	font: 400 var(--paragraph) var(--overpass);
	height: 45px;
	padding: 14px;
	text-align: center;
	width: 45px;
}

.card__rate-option--selected {
	background-color: var(--light-grey);
	border-radius: 50%;
	color: var(--white);
	cursor: pointer;
	font: 400 var(--paragraph) var(--overpass);
	height: 45px;
	padding: 14px;
	text-align: center;
	width: 45px;
}

.card__submit-rate-btn {
	background-color: var(--orange);
	border: none;
	border-radius: 32px;
	color: var(--white);
	cursor: pointer;
	height: 45px;
	margin-bottom: 16px;
	outline: 1px solid #000;
	width: 100%;
}

.card__rate-option:hover {
	background-color: var(--orange);
	color: var(--white);
}

.card__submit-rate-btn:hover {
	background-color: var(--white);
	color: var(--orange);
}

@media (min-width: 768px) {
	.card {
		border-radius: 30px;
		max-width: 395px;
	}

	.card__rate-page {
		padding: 32px;
	}

	.card__star-icon {
		margin-bottom: 24px;
	}

	.card__rate-question {
		margin-bottom: 12px;
	}

	.card__rate-options-box {
		margin-bottom: 30px;
	}

	.card__submit-rate-btn {
		height: 40px;
		margin-bottom: 0;
	}
}
